# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# VS Code settings
.vscode/

# Python build files
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db